{% assign contact = site.data.contact %}
{% if contact %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    {% if contact.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
    </li>
    {% endif %}

    {% if contact.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </li>
    {% endif %}

    {% if contact.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ contact.website }}" target="_blank">{{ contact.website }}</a>
    </li>
    {% endif %}
  </ul>
</div><!--//contact-container-->
{% endif %}
