{% assign sidebar = site.data.sidebar %}
<div class="sidebar-wrapper">
  {% include profile.html %}

  {% if sidebar.contact %}
    {% include contact.html %}
  {% endif %}

  {% if sidebar.social %}
    {% include social.html %}
  {% endif %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% if sidebar.languages %}
    {% include languages.html %}
  {% endif %}

  {% if sidebar.interests %}
    {% include interests.html %}
  {% endif %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}
</div><!--//sidebar-wrapper-->
