{% assign skills = site.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="icon-holder"><i class="fas fa-rocket"></i></span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.entries %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="progress level-bar">
        <div class="theme-progress-bar" role="progressbar"
             style="width: {{ skill.level }}%" aria-valuenow="{{ skill.level }}"
             aria-valuemin="0" aria-valuemax="100" >
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
